<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
<h1><%= heading %></h1>
<button onclick="window.location.href = '/lists/1/create';">Create List</button>

<h2>You have <%= listCount %> lists </h2>
<% for (const name of listnames) { %>
    <a href="/lists/<%= userId %>/show/<%= name %>"><%= name %></a>
<% } %>
</body>
</html>