<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/static/lists.css">
</head>
<body>
<h1><%= heading %></h1>
<label>list name</label>
<input id="listname" type="text" placeholder="list name">
<button type="button" id="submit" value="Add Item">Create list</button>
<br>
<h2>List Items</h2>
<div id="list-items"></div>
<%- include('list/addItem', { classStr: ''}) %>
<br>
<script src="/static/listFunctions.js"></script>
<script>
    <!--    TODO move JS to a separate file -->
    const namesString = "<%= listnames %>";
    let x = namesString.split(',');

    const removeAction = function (event) {
        console.log('you clicked remove');
        console.log(event);
        let itemId = event.target.getAttribute('data-itemId');
        let itemNode = document.getElementById(itemId);
        removeListRow(itemNode);
    }
    // TODO could be DRYer similar to show
    document.getElementById('add').onclick = function addItem() {
        let value = document.getElementById('item-input').value;
        validateAddedItem(value);

        console.log('adding an item');
        console.log(value);
        let id = 'a' + itemNum++;
        let itemNode = appendListItem(value, id);
        appendRemoveButton(itemNode, removeAction);
        document.getElementById('item-input').value = ''; // reset input text
        setAddItemfocus();
    }

    const xhr = new XMLHttpRequest();
    xhr.onload = function (xhr) {
        console.log(xhr.response);
        window.location = this.responseURL;
    };

    document.getElementById('submit').onclick = function submitList() {
        let listname = document.getElementById('listname').value;
        if (listname === '') {
            console.log('list name is empty');
            alert('add a list name to create your list');
            return;
        }

        // TODO don't create if list name already exists
        console.log('listnames ' + x);
        console.log('listnames number ' + x.length);
        if (x.length > 0) {
            console.log('there are list names');
            if (x.includes(listname)) {
                alert('you already have a list with the same name, choose another name');
                return;
            }
        }

        let items = [];
        // TODO can you dry this up using closures?
        let elements = document.getElementsByClassName('list-item');
        console.log(elements);
        for (const el of elements) {
            console.log(el.innerText);
            items.push(el.innerText);
        }
        if (items.size == 0) {
            alert('your list is empty add some items');
            return;
        }
        console.log(items);
        let list = {
            listname: listname,
            items: items
        }

        xhr.open("POST", '/lists/<%= userId %>/create/', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify(list));
    }

    window.onload = function () {
        setAddItemfocus();
    };

</script>
</body>
</html>