<form class="remove-list hide">
    <button type="submit" formaction="/lists/<%= userId %>/<%= operation %>/<%= listname %>"
            formmethod="<%= method %>"><%= label %>
    </button>
</form>