<i id="edit-btn" onclick="<%= editAction %>" class="update-page material-icons md-36">edit</i>
<i id="save-btn" onclick="<%= saveAction %>" class="update-page hide md-36">save</i>
<i id="cancel-btn" onclick="<%= cancelAction %>" class="update-page hide md-36">cancel</i>
<!--<button id="edit-btn" onclick="<%= editAction %>"  class="update-page" type="button">edit</button>-->
<!--<button id="save-btn" onclick="<%= saveAction %>" class="update-page hide" type="button">save</button>-->
<!--<button id="cancel-btn" onclick="<%= cancelAction %>" class="update-page hide" type="button">cancel</button>-->

