<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <style>
        form.remove-list {
            display: inline-block;
        }
        form.remove-list.hide {
            display: none;
        }

    </style>
</head>
<body>
<h1><%= heading %></h1>
<button onclick="window.location.href = '/lists/<%= userId %>/create';">Creat new list</button>
<button onclick="toggleEdit()">edit</button>

<h2>You have <%= listCount %> lists </h2>
<!-- TODO can you be changed to reuse for list items as well? -->
<% for (const name of listnames) { %>
        <a href="/lists/<%= userId %>/<%= name %>"><%= name %></a>
        <%- include('list/editButtons', {userId: userId, listname: name, operation: 'delete', method: 'post', label: 'delete list'}); %>
   <p></p>
<% } %>
</body>
<script>
    function toggleEdit() {
      const elements = document.getElementsByClassName('remove-list');
      for (const el of elements){
          el.classList.toggle('hide');
      }
    }
</script>
</html>