<% let id = 0; %>
<ul id="list-items" class="list-items list-group overflow-auto">
    <% if (addButton === true) { %>
        <%- include('list/addItem', { classStr: 'hide' }) %>
    <% } %>
    <% for (const item of items) { %>
        <li class="list-row list-group-item">

            <% if(withLinks === true) { %>
                <%- include('list/removeUndoButtons', {
                id: item.id, removeAction: 'deleteAction(event)', undoAction: 'undoAction(event)'}) %>
                <a class='list-item' id="<%= item.id %>" href="/lists/<%= userId %>/<%= item.id %>"><%= item.name %></a>
            <% } else { %>
                <%- include('list/removeUndoButtons', {
                id: id, removeAction: 'deleteAction(event)', undoAction: 'undoAction(event)'}) %>
                <div class='list-item' id="<%= id %>"><%= item %></div>
            <% } %>
        </li>
        <% id++ %>
    <% } %>
</ul>