<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <style>
        form.remove-list {
            display: inline-block;
        }
        div.list-item {
            display: inline-block;
        }
        .hide {
            display: none;
        }

        .deleted {
            text-decoration: line-through;
            color: red;
        }
    </style>
</head>
<body>
<h1><%= heading %></h1>
<button onclick="window.location.href = '/lists/<%= userId %>/create';">Creat new list</button>

<%- include('list/editSaveButtons', { editAction: 'editLists()', saveAction: 'saveLists()' }) %>

<h2>You have <%= listCount %> lists </h2>
<!-- TODO can you be changed to reuse for list items as well? -->
<% let id = 0; %>
<div id="list-items">
    <% for (const name of listnames) { %>
        <div class="list-row">
            <a class='list-item' id="<%= id %>" href="/lists/<%= userId %>/<%= name %>"><%= name %></a>
            <!--    <a href="/lists/<%= userId %>/<%= name %>"><%= name %></a>-->
            <%- include('list/removeUndoButtons', { id: id, removeAction: 'deleteAction(event)', undoAction: 'undoAction(event)'}) %>
            <%#- include('list/editButtons', {userId: userId, listname: name, operation: 'delete', method: 'post', label: 'delete list'}); %>
        </div><br>
        <% id++ %>
    <% } %>
</div>
</body>
<%- include('list/listFunctions'); %>
<script>
    function editLists() {
        toggle_edit_save();
    }

    function saveLists() {
        toggle_edit_save();
        console.log('you clicked save lists');
        const xhr = new XMLHttpRequest();
        // send the updated list
        xhr.open("PATCH", '/lists/<%= userId %>', true);
        xhr.setRequestHeader('Content-Type', 'application/json');

        let deletedListNames = getDeletedItems();
        let list = {listnames: deletedListNames};
        console.log(JSON.stringify(list));
        xhr.send(JSON.stringify(list));

        xhr.onload = function () {
            // TODO need to check http status 500 still counts as successful
            console.log('save was successful');
            removeDeletedRows();
        };
        xhr.onerror = function () {
            console.log('there was an error saving changes');
        }
    }
</script>
</html>