<!DOCTYPE html>
<html lang="en">
<%- include('list/head') %>
<body>
<div class="container-fluid bg-warning">
    <h1><%= heading %>
        <script> const userId = <%= userId %> </script>
        <%- include('list/editSaveButtons', { editAction: 'editLists()',
        saveAction: 'saveLists(userId)', cancelAction: 'cancelAction()'}) %>
    </h1>
</div>
<div class="container bg-light">
    <h2 id="list-count">You have <%= lists.length %> lists
    <i class="material-icons-two-tone md-36 update-page" data-toggle="tooltip" title="add a list"
             onclick="window.location.href = '/lists/<%= userId %>/create'">add_circle</i></h2>
    <%- include('list/listItems', { items: lists, addButton: false, withLinks: true }) %>
    <%- include('bootstrapScripts') %>
</div>
</body>

<script src="/static/listFunctions.js"></script>
<script>
    window.onload = function () {
        const observer = new MutationObserver(setListCount);
        observer.observe(document.getElementById('list-items'), {attributes: false, childList: true, subtree: false});
    }

    function setListCount() {
        const count = document.getElementsByClassName('list-row').length;
        const grammar = count == 1 ? "list" : "lists";
        document.getElementById("list-count").innerHTML = "You have " + count + " " + grammar;
    }
</script>
</html>