<% let id = 0; %>
<ul id="list-items" class="list-items list-group overflow-auto">
    <% if (addButton === true) { %>
        <%- include('list/addItem', { classStr: 'hide' }) %>
    <% } %>
    <% for (const item of items) { %>
        <li class="list-row list-group-item">
            <%- include('list/removeUndoButtons', {
            id: id,
            removeAction: 'deleteAction(event)',
            undoAction: 'undoAction(event)'}) %>
            <% if(withLinks === true) { %>
                <a class='list-item' id="<%= id %>" href="/lists/<%= userId %>/<%= item %>"><%= item %></a>
            <% } else { %>
                <div class='list-item' id="<%= id %>"><%= item %></div>
            <% } %>
        </li>
        <% id++ %>
    <% } %>
</ul>