<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <style>
        form.remove-list {
            display: inline-block;
        }

        div.list-item {
            display: inline-block;
        }

        .hide {
            display: none;
        }

        .deleted {
            text-decoration: line-through;
            color: red;
        }
    </style>
</head>
<body>
<h1><%= heading %></h1>
<button onclick="window.location.href = '/lists/<%= userId %>/create';">Creat new list</button>

<%- include('list/editSaveButtons', { editAction: 'editLists()', saveAction: 'saveLists()', cancelAction: 'cancelAction()' }) %>

<h2 id="list-count"></h2>
<!-- TODO can you be changed to reuse for list items as well? -->
<% let id = 0; %>
<div id="list-items">
    <% for (const name of listnames) { %>
        <div class="list-row">
            <a class='list-item' id="<%= id %>" href="/lists/<%= userId %>/<%= name %>"><%= name %></a>
            <%- include('list/removeUndoButtons', { id: id, removeAction: 'deleteAction(event)', undoAction: 'undoAction(event)'}) %>
        </div><br>
        <% id++ %>
    <% } %>
</div>
</body>
<%- include('list/listFunctions'); %>
<script>
    function editLists() {
        toggle_edit_save();
        toggle_remove_undo();
    }

    function saveLists() {
        // toggle_edit_save();
        console.log('you clicked save lists');
        const xhr = new XMLHttpRequest();
        // send the updated list
        xhr.open("PATCH", '/lists/<%= userId %>', true);
        xhr.setRequestHeader('Content-Type', 'application/json');

        let deletedListNames = getDeletedItems();
        let list = {listnames: deletedListNames};
        console.log(JSON.stringify(list));
        xhr.send(JSON.stringify(list));

        xhr.onload = saveOnloadAction(xhr);

        xhr.onerror = function () {
            console.log('there was an error saving changes');
        }
    }

    window.onload = function () {
        setListCount();
        const observer = new MutationObserver(setListCount);
        observer.observe(document.getElementById('list-items'), { attributes: false, childList: true, subtree: true });
    }

    function setListCount() {
        const count = document.getElementsByClassName('list-row').length;
        const grammar = count == 1 ? "list" : "lists";
        document.getElementById("list-count").innerHTML  = "You have " + count + " " + grammar;
    }
</script>
</html>