<button id="del<%= id %>" class="remove-btn hide" type="button" data-itemId="<%= id %>"
        onclick="<%= removeAction %>">remove
</button>
<button id="undo<%= id %>" class="undo-btn hide" type="button" data-itemId="<%= id %>"
        onclick="<%= undoAction %>">undo
</button>