<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>
<body>
<script> const userId = '<%- userId %>';
    const listId = '<%= listId %>';
    const listname = '<%- listName %>' </script>
<div class="container-fluid bg-warning">
    <h1 hidden id="list-id" data-listId="<%= listId %>"></h1>
    <h1>name: <%= listName %>
        <span><%- include('list/includes/editSaveButtons', { editAction: 'showEditAction()',
            saveAction: 'showSaveAction(userId, listId, listname)', cancelAction: 'cancelAction()'}) %></span>
        <span><i id="delete-list-btn" class="update-page hide material-icons-two-tone md-36" type="button"
                 onclick="deleteList(userId, listId)" data-toggle="tooltip" title="delete list">delete</i></span>
    </h1>
</div>
<div class="container bg-light">
    <%- include('list/includes/deleteModal', {
    yesAction: 'deleteListConfirmed(userId, listId)',
    title: 'Do you want to delete the following list?'}) %>
    <a href="/lists/<%= userId %>">Back to my lists</a>
    <%- include('list/includes/saveAlerts') %>
    <h2>UserListStore items</h2>
    <%- include('list/includes/listItems', { items: items, addButton: true, withLinks: false }) %>
</div>
</body>
<%- include('includes/bootstrapScripts') %>
<script src="/static/listFunctions.js"></script>
</body>
</html>