<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .hide {
            display: none;
        }

        .strike-through {
            text-decoration: line-through;
            color: red;
        }
        div.item {
            display: inline-block;
        }
    </style>
</head>
<body>
<h1>List name: <%= listId %></h1>
<button onclick="edit()" class="update-page">edit</button>
<button onclick="save()" class="update-page hide">save</button>
<h2>Items </h2>
<% let id = 0; %>
<% for (const item of items) { %>
    <p class="list-row">
    <div class='item' id="<%= id %>"><%= item %></div>
    <button id="del<%= id %>" class="remove-btn hide" type="button" data-itemId="<%= id %>" onclick="delete_item(event)">X</button>
    <button id="undo<%= id %>" class="undo-btn hide" type="button" data-itemId="<%= id %>" onclick="undo(event)">undo
    </button>
    </p>
    <% id++ %>
<% } %>
<script>
    function edit() {
        toggle_edit_save();
    }

    function save() {
        toggle_edit_save();
    }

    function delete_item(event) {
        console.log('you clicked delete item');
        console.log(event);
        let itemId = event.target.getAttribute('data-itemId');
        let element = document.getElementById(itemId);
        element.classList.toggle('strike-through');
        let undoButton = document.getElementById('undo' + itemId);
        undoButton.classList.toggle('hide');
        event.target.classList.toggle('hide');
    }
    function undo(event) {
        console.log('you clicked undo');
        console.log(event);
        let itemId = event.target.getAttribute('data-itemId');
        let element = document.getElementById(itemId);
        element.classList.toggle('strike-through');
        let delButton = document.getElementById('del' + itemId);
        delButton.classList.toggle('hide');
        event.target.classList.toggle('hide');
    }
</script>
<script>
    function toggle_edit_save() {
        let htmlCollection = document.getElementsByClassName('update-page');
        let elements = Array.from(htmlCollection);
        htmlCollection = document.getElementsByClassName('remove-btn');
        elements = elements.concat(Array.from(htmlCollection));
        for (const el of elements) {
            el.classList.toggle('hide');
        }
    }
</script>
</body>
</html>