<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/lists.css">
</head>
<body>
<h1>List name: <%= listId %></h1>
<%- include('list/editSaveButtons', { editAction: 'edit()', saveAction: 'save()', cancelAction: 'cancelAction()'}) %>
<button id="delete-list-btn" class="update-page hide" type="button"
        onclick="deleteList()">delete</button>
<br>
<a href="/lists/<%= userId %>">Back to my lists</a>
<h2>List items</h2>
<div id="list-items">
    <%- include('list/addItem', { classStr: 'hide' }) %>
    <% let id = 0; %>
    <% for (const item of items) { %>
        <div class="list-row">
            <div class='list-item' id="<%= id %>"><%= item %></div>
            <%- include('list/removeUndoButtons', { id: id, removeAction: 'deleteAction(event)', undoAction: 'undoAction(event)'}) %>
        </div><br>
        <% id++ %>
    <% } %>
</div>
<script src="/static/listFunctions.js"></script>
<script>
    function edit() {
        toggle_edit_save();
        toggle_remove_undo();
        toggle_add_item();
        setAddItemfocus();
    }

    function save() {
        const xhr = new XMLHttpRequest();
        // send the updated list
        xhr.open("PATCH", '/lists/<%= userId %>/<%= listId %>', true);
        xhr.setRequestHeader('Content-Type', 'application/json');

        let items = getRemainingItems();
        let list = {listname: "<%= listId %>", items: items};
        console.log('list ' + list);
        xhr.send(JSON.stringify(list));
        xhr.onload = saveOnloadAction(xhr);
        xhr.onerror = function () {
            console.log('there was an error saving changes');
        }
    }

    document.getElementById('add').onclick = function addItem() {
        let value = document.getElementById('item-input').value;
        validateAddedItem(value);

        console.log('adding an item');
        console.log(value);
        let id = 'a' + itemNum++;
        let itemNode = appendListItem(value, id); //  TODO change to build own row
        appendRemoveButton(itemNode, deleteAction);
        appendUndoButton(itemNode, undoAction)
        document.getElementById('item-input').value = ''; // reset input text
        setAddItemfocus();
    }

    function deleteList() {
        const xhr = new XMLHttpRequest();
        // delete list
        xhr.open("DELETE", '/lists/<%= userId %>/<%= listId %>', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send();
        xhr.onload = function () {
            if (xhr.status === 200) {
                console.log('list deleted');
                alert('list deleted');
                window.location.replace('/lists/<%= userId %>');
            }
        };
        xhr.onerror = function () {
            console.log('there was an error deleting the list');
        }
    }

</script>
</body>
</html>