<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .hide {
            display: none;
        }

        .deleted {
            text-decoration: line-through;
            color: red;
        }

        div.list-item {
            display: inline-block;
        }
    </style>
</head>
<body>
<h1>List name: <%= listId %></h1>
<button onclick="edit()" class="update-page">edit</button>
<button onclick="save()" class="update-page hide">save</button>
<br>
<a href="/lists/<%= userId %>">Back to my lists</a>
<h2>List items</h2>
<div class="list-items">
    <%- include('list/addItem', { classStr: 'hide' }) %>
    <% let id = 0; %>
    <% for (const item of items) { %>
        <div class="list-row">
            <div class='list-item' id="<%= id %>"><%= item %></div>
            <button id="del<%= id %>" class="remove-btn hide" type="button" data-itemId="<%= id %>"
                    onclick="delete_item(event)">X
            </button>
            <button id="undo<%= id %>" class="undo-btn hide" type="button" data-itemId="<%= id %>"
                    onclick="undo(event)">undo
            </button>
        </div><br>
        <% id++ %>
    <% } %>
</div>
<%- include('list/listFunctions'); %>
<script>
    function edit() {
        toggle_edit_save();
        toggle_add_item();
    }

    function save() {
        toggle_edit_save();
        toggle_add_item();
        const xhr = new XMLHttpRequest();
        // send the updated list
        xhr.open("PATCH", '/lists/<%= userId %>/<%= listId %>', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        let items = [];
        let elements = document.getElementsByClassName('list-item');
        console.log(elements);
        for (const el of elements) {
            console.log(el.innerText);
            if (!el.classList.contains('deleted')) {
                items.push(el.innerText);
            }
        }
        let list = {listname: "<%= listId %>", items: items};
        console.log('list ' + list);
        xhr.send(JSON.stringify(list));

        xhr.onload = function () {
            // TODO need to check http status 500 still counts as successful
            console.log('save was successful');
            let elements = document.getElementsByClassName('deleted');
            for (const item of elements) {
                removeListRow(item);
            }
        };
        xhr.onerror = function () {
            console.log('there was an error saving changes');
        }
    }

    function delete_item(event) {
        console.log('you clicked delete item');
        console.log(event);
        let itemId = event.target.getAttribute('data-itemId');
        let element = document.getElementById(itemId);
        element.classList.toggle('deleted');
        let undoButton = document.getElementById('undo' + itemId);
        undoButton.classList.toggle('hide');
        event.target.classList.toggle('hide');
    }

    function undo(event) {
        console.log('you clicked undo');
        console.log(event);
        let itemId = event.target.getAttribute('data-itemId');
        let element = document.getElementById(itemId);
        element.classList.toggle('deleted');
        let delButton = document.getElementById('del' + itemId);
        delButton.classList.toggle('hide');
        event.target.classList.toggle('hide');
    }
    // window.onload = function() {
    //     // document.getElementById('item-input').classList.toggle('hide');
    //     // document.getElementById('add').classList.toggle('hide');
    //     toggle_add_item();
    // }

</script>
<script>
    function toggle_add_item() {
        document.getElementById('item-input').classList.toggle('hide');
        document.getElementById('add').classList.toggle('hide');
    }
    function toggle_edit_save() {
        let htmlCollection = document.getElementsByClassName('update-page');
        let elements = Array.from(htmlCollection);
        htmlCollection = document.getElementsByClassName('remove-btn');
        elements = elements.concat(Array.from(htmlCollection));
        for (const el of elements) {
            el.classList.toggle('hide');
        }
    }
</script>
</body>
</html>