<!DOCTYPE html>
<html lang="en">
<%- include('../includes/head') %>
<body>
<h1><%= heading %></h1>
<p>test yourself on commonly misspelled words</p>
<button id="start-test" onclick="playAudio()" class="btn btn-success" type="button">Start</button>
<p id="audio">Audio?</p>
<% for(let i in mappedUrls) { %>
    <audio id="<%= mappedUrls[i].word %>" src="<%= mappedUrls[i].audioUrl %>"></audio>
<% } %>
<%- include('../includes/bootstrapScripts') %>
<script>
    function playAudio() {
        let audio = document.getElementById('0');
        audio.play();
    }
</script>
</body>
</html>